<div class="page-container contact-wrap">
<ul>
	<li>微信服务号：iqianggou</li>
	<li>微博：爱抢购APP</li>
	<li class="tel">客服电话：<a href="tel:4006717909"><span data-tel="4006717909">4006-717-909</span></a></li>
	<li class="mail"><a href="mailto:service@doweidu.com"><span data-mail="service@doweidu.com">service@doweidu.com</span></a></li>
	<li class="href"><a href="http://www.iqianggou.com/"><span data-href="http://www.iqianggou.com/">http://www.iqianggou.com/</span></a></li>
	<li class="protocol"><a href="{{urlProtocol}}">服务条款</a></li>
</ul>
</div>