@-webkit-keyframes rond {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.loading.default-loading {
  position: fixed;
  top: 8rem;
  width: 100%;
  z-index: 0;
}
.loading .inner {
  position: relative;
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  background: rgba(0, 0, 0, 0.5) no-repeat center center;
  background-image: url("<%= cssImageBaseUrl %>loading_logo.png");
  border-radius: 1rem;
}
.loading .circle {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: 5.4rem;
  height: 5.4rem;
  background-repeat: no-repeat;
  background-image: url("<%= cssImageBaseUrl %>loading_line.png");
  background-size: 100%;
  -webkit-animation: rond 1.2s infinite linear;
  animation: rond 1.2s infinite linear;
}
