<div class="page-container page-res-pass common-reg">
    <div class="reg-form form-wrap">
        <form autocomplete="on" id="form-reset">
            <ul>
                <li class="first">
                    <input name="mobile" type="number" required placeholder="请输入手机号"/>
                </li>
                <li class="rel">
                    <input name="auth_code" type="number" required placeholder="请输入短信验证码"/>
                    <span class="get-verify-code">获取验证码<b></b></span>
                </li>
                <li>
                    <input name="new_password" type="password" required placeholder="请输入新密码（至少6位）"/>
                </li>
            </ul>
            <button class="submit" type="submit">确认使用新密码</button>
        </form>
    </div>
</div>