.notifications .content-wrap {
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: #ffffff;
}
.notifications li {
  position: relative;
  margin: 0rem 1rem 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #d6d6d6;
}
.notifications h3 {
  font-size: 1.5rem;
  color: #000000;
  padding-bottom: 0.8rem;
  margin-right: 8rem;
}
.notifications span,
.notifications p {
  font-size: 1.2rem;
  color: #666666;
}
.notifications span {
  position: absolute;
  top: 0;
  right: 0;
}
.notifications p {
  line-height: 120%;
}
.notifications .empty {
  padding: 4rem 2rem;
  font-size: 1.5rem;
  color: #666666;
  text-align: center;
}
