.popup {
  position: fixed;
  top: 20rem;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}
.popup .content {
  margin: 0 3rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
}
.popup .solid-bg {
  background-color: #000000;
}
